<div class="container-fluid">
	<div class="row">
		<div class="sidebar-full-hyte">hello dfsgkf dgjs dlfjkg ;ldfj g;lkdjf g;lj ;ljdf;lsj</div>
		<div class="mainbar-full-hyte">
			<div  class="html-editor" ui-ace="{
				  onLoad: aceLoaded,
				  onChange: aceChanged
				}" ng-model="aceModel">
			</div>
			<div class="sass-editor" ui-ace="{
  				onLoad: sassLoaded,
  				onChange: sassChanged
				}" ng-model="sassModel">
			</div>
			<div class="js-editor" ui-ace="{
  				onLoad: jsLoaded,
  				onChange: jsChanged
				}" ng-model="jsModel">
			</div>
			<span>
				<iframe id="mymobile" class="mobile-view" ng-src="<%= asset_path('iframe.html' )%>" ></iframe>
				<iframe id="myfrmme" class="desktop-view" ng-src="<%= asset_path('iframe.html' )%>">
				</iframe>
			</span>
		</div>
	 </div>
</div>
