<div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="sidebar-full-hyte">
			<div class="menu">
				<div class="icon-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
				<!-- <div class="menu-item">Settings </span></div> -->
					<!-- <span class="glyphicon glyphicon-menu-down" aria-hidden="true"> -->
				    <div class="menu-item">
				    <div class="brand toggle-btn" data-toggle="collapse" data-target="#menu-content">Themes</div>
				   				  
				        <div class="menu-list">
				  
				            <ul id="menu-content" class="menu-content collapse out">
				                <li  ng-click="set_theme(themes.light)" data-toggle="collapse"  class="list-item">
				                 Solarized light <span class="arrow"></span>
				                </li>
				                
				                <li  ng-click="set_theme(themes.dark)" data-toggle="collapse" class="list-item">
				                 Solarized dark <span class="arrow"></span>
				                </li>

				                <li  ng-click="set_theme(themes.monokai)" data-toggle="collapse" class="list-item">
				                 Monokai <span class="arrow"></span>
				                </li>
				   
				            </ul>
				     </div>
				</div>

			</div>
		 	<img class="logo" src="<%= asset_path('editrials1.svg' )%>"></img>	 
		</div>
		<div class="mainbar-full-hyte">
			<div  class="editor-html-header" ui-ace="{
				  onLoad: headerLoaded
				}" ng-model="html_headerModel">
			</div>
			<div  class="editor-sass-header" ui-ace="{
				  onLoad: headerLoaded,
				  onChange: headerChanged
				}" ng-model="sass_headerModel">
			</div>
			<div  class="editor-js-header" ui-ace="{
				  onLoad: headerLoaded,
				  onChange: headerChanged
				}" ng-model="js_headerModel">
			</div>
			<div  class="html-editor" ui-ace="{
				  onLoad: aceLoaded,
				  onChange: aceChanged
				}" ng-model="aceModel">
			</div>
			<div class="sass-editor" ui-ace="{
  				onLoad: sassLoaded,
  				onChange: sassChanged
				}" ng-model="sassModel">
			</div>
			<div class="js-editor" ui-ace="{
  				onLoad: jsLoaded,
  				onChange: jsChanged
				}" ng-model="jsModel">
			</div>
			<span>
				<iframe id="mymobile" class="mobile-view" ng-src="<%= asset_path('iframe.html' )%>" frameborder="0"></iframe>
				<iframe id="myfrmme" class="desktop-view" ng-src="<%= asset_path('iframe.html' )%>" frameborder="0"></iframe>
			</span>
		</div>
	 </div>
</div>
